<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="./assets/img/bread-3035491_1920.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption">
                    <h1>Hungry??? Pick a burger!! </h1>
            </div>
        </div>
        <div class="carousel-item">
                <img src="./assets/img/burger-1835192_1920.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h1>Hungry??? Pick a burger!! </h1>
                </div>
        </div>
        <div class="carousel-item">
                <img src="./assets/img/hamburger-494706_1920.jpg" class="d-block w-100" alt="...">
                 <div class="carousel-caption">
                    <h1>Hungry??? Pick a burger!! </h1>
                </div>
        </div>
    </div>
</div>
<div class="container">
<div class="row">
<div class="col-md-6" id="notDevoured">
    {{#each burgers}}
        {{#unless devoured}} 
        <ul class="list-group notDevoured">
            {{burger_name}}
        </ul>
        <button class="devour-burger" data-id="{{this.id}}">Devour</button>
        {{/unless}}
    {{/each}}   
</div>
    <div class="col-md-6" id="Devoured">
    <ul class="list-group devoured" >
    {{#each burgers}}
        {{#if devoured}} 
        <li class="list-group-item">{{burger_name}}</li>

        </li>
        {{/if}}
    {{/each}}  
    </ul> 
    </div>
</div>


<div class="col-md-12" id="form-container">
    <h2>Add a Burger</h2>
        <form class="create-form" method="POST">

            <div class="form-group">
                <label for="burger">Which burger do you want to add?</label>
                </br>
                <input class="form-control-lg" name="burgerId" id="newBurger" type="text" rows="1"></input>
            </div>
       
            <button type="submit" id="addBurger">Add Burger</button>

        </form>
</div>
</div>
